body{
    background-color: #93B9DD;
    display: flex;
    justify-content: center;
}
*{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{text-align: center;}